@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-primary);
  background-color: var(--bcg-secondary);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.App {
  min-height: 100vh;
  width: 100vw;
}

button {
  outline: none;
  background: transparent;
  border: none;
}